Local/
c2u_tmp/
Package Control.cache/
__MACOSX/
Backup/
encoding_cache.json
Package Control.last-run
PyV8/

# HTMLPrettify 
HTMLPrettify.sublime-settings

# GoSulime
Packages/User/GoSublime/windows-x64/log.txt
Packages/GoSublime/
Packages/User/GoSublime/
Packages/User/GoSublime-aux.sublime-settings

# SublimeREPL
.SublimeREPLHistory/